* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.row--select {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.text-center {
  text-align: center !important;
}
